<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
        {{> header }}
        <section>
            <p>{{ welcome welcomeMsg }}</p>
            <p>
                Some sample text.
            </p>
        </section>
        {{> footer }}
    </body>
</html>